<!--
  Generated template for the NewSalesActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button right ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="Dashboard" center text-center>
      {{title}}
    </ion-title>

    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-row padding class="ShadowBox13">
      <ion-col col-12>
        Job Type
      </ion-col>

      <!-- <ion-col col-6>
        <button ion-button icon-start block class="btnRadiusUpper">
          <ion-icon></ion-icon>
          Freight Forwarding
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block class="btnRadiusUpper btncancel">
          <ion-icon></ion-icon>
          Customs
        </button>
      </ion-col> -->

      <ion-col col-6>
        <input [(ngModel)]="VenType" type="radio" class="stv-radio-button" name="jobType" value="freight"
          id="freight" />
        <label for="freight">Freight Forwarding</label>
      </ion-col>
      <ion-col col-6>
        <input [(ngModel)]="VenType" type="radio" class="stv-radio-button" name="jobType" value="customs"
          id="customs" />
        <label for="customs">Customs</label>
      </ion-col>

      <ion-col col-12>
        <label>
          Branch
        </label>
      </ion-col>
      <!-- <ion-col col-12>

        <select col-12 placeholder="Select One">
          <option value="f">Default</option>
          <option value="m">1</option>
        </select>

      </ion-col> -->

      <ion-col col-12>

        <select id="ddlBrach" name="ddlBrach" [(ngModel)]="branchCode" col-12 placeholder="">
          <option [value]="0" disabled selected>Select</option>
          <option *ngFor="let brData of BranchTbl" [value]="brData.BranchCode">{{brData.branch}}</option>

        </select>

      </ion-col>

      <ion-col col-12>
        <label>
          Mode
        </label>
      </ion-col>

      <ion-col col-12>
        <select id="ddlBrach" name="ddlBrach" [(ngModel)]="transportMode" col-12 placeholder="">
          <option [value]="0" disabled selected>Select</option>
          <option *ngFor="let modeData of modes" [value]="modeData.Description">{{modeData.Description}}</option>
        </select>
      </ion-col> 

      <!-- <ion-col col-12>

        <input col-12 placeholder="">
      </ion-col> -->


      <ion-col col-12>
        <label>
          Service
        </label>
      </ion-col>

      <ion-col col-12>
        <select id="ddlBrach" name="ddlBrach" [(ngModel)]="serviceCode" col-12 placeholder="">
          <option [value]="0" disabled selected>Select</option>
          <option *ngFor="let serviceData of services" [value]="serviceData.Description">{{serviceData.Description}}</option>
        </select>
      </ion-col>

      <!-- <ion-col col-12>

        <select col-12 placeholder="Select One">
          <option value="f">Default</option>
          <option value="m">1</option>
        </select>
      </ion-col> -->


      <ion-col col-12>
        <label>
          Shipment Type
        </label>
      </ion-col>

      <ion-col col-12>
        <select id="ddlBrach" name="ddlBrach" [(ngModel)]="shipmentCode" col-12 placeholder="">
          <option [value]="0" disabled selected>Select</option>
          <option *ngFor="let shipData of shipments" [value]="shipData.Description">{{shipData.Description}}</option>
        </select>
      </ion-col>

      <!-- <ion-col col-12>
        <select col-12 placeholder="Select One">
          <option value="f">Default</option>
          <option value="m">1</option>
        </select>
      </ion-col> -->

      <ion-col col-12>
        <label>
          Milestone
        </label>
      </ion-col>


      <ion-col col-10>
        <input col-12 placeholder="Select One">

      </ion-col>

      <ion-col col-2>
        <button ion-fab class="ion-fab34" (click)="sendDataToSearchMilestone();" style="float: right;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;">
          <ion-icon name="md-search" class=""></ion-icon>
        </button>
      </ion-col>


      <ion-col col-12>
        <label>
          General Remarks
        </label>
      </ion-col>

      <ion-col col-12>
        <textarea col-12 placeholder="">
        </textarea>
      </ion-col>

      <ion-col col-6>
        <label>
          Activity Date
        </label>
      </ion-col>

      <ion-col col-6>
        <a href="#"> 02 DEC 2020</a>

      </ion-col>
      <ion-col col-12>
        <button ion-button icon-start block class="btnRadius ">
          <ion-icon></ion-icon>
          SEARCH JOB(S)
        </button>
      </ion-col>
    </ion-row>




    <ion-row padding class="ShadowBox13">
      <ion-col col-12>
        <table>
          <tr>
            <td>
              <input col-12 value="BOMFJAI2021001020" disabled>
            </td>
            <td > <button ion-button icon-only clear style="color: red !important;">
              <ion-icon name="trash"></ion-icon>Remove
            </button></td>

          </tr>
          <tr>
            <td>
              <input col-12 value="BOMFJAI2021001020" disabled>
            </td>
            <td > <button ion-button icon-only clear style="color: red !important;">
              <ion-icon name="trash"></ion-icon>Remove
            </button></td>

          </tr>
          <tr>
            <td>
              <input col-12 value="BOMFJAI2021001020" disabled>
            </td>
            <td > <button ion-button icon-only clear style="color: red !important;">
              <ion-icon name="trash"></ion-icon>Remove
            </button></td>

          </tr>
          <tr>
            <td>
              <input col-12 value="BOMFJAI2021001020" disabled>
            </td>
            <td > <button ion-button icon-only clear style="color: red !important;">
              <ion-icon name="trash"></ion-icon>Remove
            </button></td>

          </tr>
        </table>
      </ion-col>



    </ion-row>



  </ion-list>
</ion-content>
<ion-footer class="ion-footer">
  <ion-row padding class="ShadowBox13">
    <ion-col col-6>
      <button ion-button  block class="btnRadius btncancel" (click)="backToDashboard();">
        <ion-icon ></ion-icon>
        Cancel
      </button>
    </ion-col>

    <ion-col col-6>
      <button ion-button icon-start block class="btnRadius ">
        <ion-icon ></ion-icon>
       Save
      </button>
    </ion-col>
  </ion-row>
  <div class="label-white toolbar-background-md" center text-center>
    © Kale Logistics Solutions Private Limited. {{appBuildConfig.fullYear}} Version {{appBuildConfig.version}}
  </div>
</ion-footer>
