<!--
  Generated template for the NewSalesActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <!-- <button right ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button left ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->
    <ion-title id="Dashboard" center text-center>
      {{title}}
    </ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="backToDashboard();">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar #searchbar placeholder="Search..." showCancelButton="never" color="primary" [animated]="true"
    (ionInput)="filterItems($event)" [(ngModel)]="searchQuery" (ionCancel)="onCancel($event)"></ion-searchbar>

  <ion-toolbar>
    <ion-label>Jobs - In progress</ion-label>
    <ion-buttons right>
      <button ion-button icon-only (click)="openSortModel($event);">
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content  padding style="margin-top: 10px;">
  <ion-list *ngIf='flagDataAllData'>
    <ion-row class="ShadowBox13"
      *ngFor="let shipData of shipmentAllData | sort: {property: column, order: order}; let i = index;"
      (click)="goToSearchJob(shipData);">
      <div class="column" *ngIf="shipData.Service == 'Import'">
        <label>
          <img src="assets/img/flight.png" *ngIf="shipData.Mode == 'AIR'" class="">
          <img src="assets/img/boat-with-containers.png" *ngIf="shipData.Mode == 'OCEAN'" class="">
          <img src="assets/img/import.png" class="">
          <label style="font-size: 15px;" for="">{{shipData.JobDate }}</label>
        </label>
      </div>
      <div class="columnBlue" *ngIf="shipData.Service == 'Export'">
        <label>
          <img src="assets/img/flight.png" *ngIf="shipData.Mode == 'AIR'" class="">
          <img src="assets/img/boat-with-containers.png" *ngIf="shipData.Mode == 'OCEAN'" class="">
          <img src="assets/img/import.png" class="">
          <label style="font-size: smaller;" for="">{{shipData.JobDate }}</label>
        </label>
      </div>
      <div class="column1">
        <h6>
          {{shipData.MasterNo}}
        </h6>

      </div>
      <div class="column2">
        <label style="color: #0461AA;font-size: 20px;"><b> {{shipData.JobNo}}</b></label><br>
        <label>{{shipData.Origin + '/' +shipData.Destination}} </label>
      </div>
      <div class="divW">
        <img class="imgSize" src="assets/img/Icon - Keyboard Arrow - Up - Dark.png">
      </div>
    </ion-row>
  </ion-list>


  <ion-list *ngIf='flagDataFilterData'>
    <ion-row class="ShadowBox13"
      *ngFor="let shipData of shipmentAllDataFilterd | sort: {property: column, order: order}; let i = index;"
      (click)="goToSearchJob(shipData);">
      <div class="column" *ngIf="shipData.Service == 'Import'">
        <label>
          <img src="assets/img/flight.png" *ngIf="shipData.Mode == 'AIR'" class="">
          <img src="assets/img/boat-with-containers.png" *ngIf="shipData.Mode == 'OCEAN'" class="">
          <img src="assets/img/import.png" class="">
          <label style="font-size: 15px;" for="">{{shipData.JobDate }}</label>
        </label>
      </div>
      <div class="columnBlue" *ngIf="shipData.Service == 'Export'">
        <label>
          <img src="assets/img/flight.png" *ngIf="shipData.Mode == 'AIR'" class="">
          <img src="assets/img/boat-with-containers.png" *ngIf="shipData.Mode == 'OCEAN'" class="">
          <img src="assets/img/import.png" class="">
          <label style="font-size: smaller;" for="">{{shipData.JobDate }}</label>
        </label>
      </div>
      <div class="column1">
        <h6>
          {{shipData.MasterNo}}
        </h6>

      </div>
      <div class="column2">
        <label style="color: #0461AA;font-size: 20px;"><b> {{shipData.JobNo}}</b></label><br>
        <label>{{shipData.Origin + '/' +shipData.Destination}} </label>
      </div>
      <div class="divW">
        <img class="imgSize" src="assets/img/Icon - Keyboard Arrow - Up - Dark.png">
      </div>
    </ion-row>
  </ion-list>
</ion-content>




<ion-footer class="ion-footer">
  <ion-row padding class="">

    <ion-col col-12>
      <button ion-button icon-start block round class="btnRadius" (click)="goToCustomerJobSearch();">
        <ion-icon></ion-icon>
        Search Job
      </button>
    </ion-col>
  </ion-row>
  <div class="label-white toolbar-background-md" center text-center>
    © Kale Logistics Solutions Private Limited. {{appBuildConfig.fullYear}} Version {{appBuildConfig.version}}
  </div>
</ion-footer>
