<ion-header>

  <ion-navbar color="primary">
    <button right ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="Dashboard" center text-center>
      {{title}}
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="backToDashBoard();">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row padding class="ShadowBox13" style="margin-top: 10px;">
    <ion-col col-12>
      <label>
        <b>Username</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="userName" [(ngModel)]="userName">
      <!-- <div class="errorbox" style="color:tomato" *ngIf="userName.length == '0'">*required</div> -->
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Email Id</b>
      </label>  <font color="red" class="margin12">*</font>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="emailId" [(ngModel)]="emailId">
      <!-- <div class="errorbox" style="color:tomato" *ngIf="emailId.length == '0'">*required</div> -->
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Default Configuration</b>
      </label>
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Branch</b>
      </label>  <font color="red" class="margin12">*</font>
    </ion-col>
    <ion-col col-12>
      <select id="ddlBrach" name="ddlBrach" col-12 [(ngModel)]="branchCode">
        <option [value]="0" disabled selected>Select</option>
        <option *ngFor="let brData of BranchTbl" [value]="brData.BranchCode">{{brData.branch}}</option>
      </select>
      <!-- <div class="errorbox" style="color:tomato" *ngIf="branchCode == '0'">*required</div> -->
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Mode</b>
      </label>  <font color="red" class="margin12">*</font>
    </ion-col>
    <ion-col col-12>
      <select id="ddlMode" name="ddlMode" col-12 [(ngModel)]="transportMode">
        <option [value]="0" disabled selected>Select</option>
        <option *ngFor="let modeData of modes" [value]="modeData.KeyValue">{{modeData.Description}}</option>
      </select>
      <!-- <div class="errorbox" style="color:tomato" *ngIf="transportMode == '0'">*required</div> -->
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Service</b>
      </label>  <font color="red" class="margin12">*</font>
    </ion-col>
    <ion-col col-12>
      <select id="ddlService" name="ddlService" col-12 [(ngModel)]="serviceCode">
        <option [value]="0" disabled selected>Select</option>
        <option *ngFor="let serviceData of services" [value]="serviceData.KeyValue">{{serviceData.Description}}</option>
      </select>
      <!-- <div class="errorbox" style="color:tomato" *ngIf="serviceCode == '0'">*required</div> -->
    </ion-col>

    <ion-col col-12>
      <b>Job Type</b>
    </ion-col>
    <ion-col col-6>
      <input [(ngModel)]="VenType" type="radio" class="stv-radio-button" name="jobType" value="1"
        id="1" />
      <label for="1">Freight Forwarding</label>
    </ion-col>
    <ion-col col-6>
      <input [(ngModel)]="VenType" type="radio" class="stv-radio-button" name="jobType" value="2"
        id="2" />
      <label for="2">Customs</label>
    </ion-col>

    <ion-col col-12>
      <b>Shipment Status</b>
    </ion-col>
    <ion-col col-6>
      <input [(ngModel)]="shipmentStatus" type="radio" class="stv-radio-button" name="shipmentStatus" value="1"
        id="3" />
      <label for="3">In Progress</label>
    </ion-col>
    <ion-col col-6>
      <input [(ngModel)]="shipmentStatus" type="radio" class="stv-radio-button" name="shipmentStatus" value="2"
        id="4" />
      <label for="4">Completed</label>
    </ion-col>

    <ion-col col-8>
      <ion-label><b>No. of records per listing screen</b></ion-label>
    </ion-col>
    <ion-col col-2>
      <input col-12 type="tel" min="0" max="99" name="noOfRecords" [(ngModel)]="noOfRecords" (keypress)="numberOnlyValidation($event)" style="text-align: right;">
    </ion-col>

    <ion-col col-2>
    </ion-col>

    </ion-row>

</ion-content>
<ion-footer class="ion-footer">
  <ion-row padding class="">
    <ion-col col-6>
      <button ion-button  block class="btnRadius btncancel" (click)="backToDashBoard();">
        <ion-icon ></ion-icon>
        Cancel
      </button>
    </ion-col>

    <ion-col col-6>
      <button ion-button icon-start block class="btnRadius" (click)="saveConfigSettings();">
        <ion-icon ></ion-icon>
       Save
      </button>
    </ion-col>
  </ion-row>
  <div class="label-white toolbar-background-md" center text-center>
    <!-- © Kale Logistics Solutions Private Limited. {{appBuildConfig.fullYear}} Version {{appBuildConfig.version}} -->
  </div>
</ion-footer>

