<div class="{{global.state['theme']}}">

    <!--Side Menu with avatar(IOS)-->
    <ion-menu side="end" [content]="content" id="menu-avatar">
        <ion-content>
            <div #header>
                <ion-row style="align-items:center;justify-content: center;">
                    <ion-col col-6 menuClose style="max-width:40% !important">
                        <img class="user-avatar round" [src]="chosenPicture || placeholder"
                            onerror="this.src='assets/img/person.png'" />
                    </ion-col>

                </ion-row>
                <div style="justify-content: center;" menuClose>
                    <h3 class="name" style="text-align: center;margin-top: 0px;font-family: monospace;">
                        Hello,{{UserName}}</h3>
                    <!-- <p class="e-mail" style="text-align: center;color: #ffffff;">example@email.com</p> -->
                </div>
            </div>
            <ion-list no-lines>
                <button menuClose ion-item detail-none *ngFor="let p of globalService.menuItems" (click)="openPage(p)"
                    [ngClass]="(p.active)?'active-menu-item-color':''">
                    <!-- <ion-icon [name]="p.icon" item-left [ngClass]="(p.icon == 'close')?'font-bold':''"></ion-icon> -->
                    <!-- {{p.title}} -->
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>


    <!--Material Design Menu(Android)-->
    <div class="abc">
        <ion-icon name="close"></ion-icon>
    </div>
    <ion-menu side="end" [content]="content" id="menu-material">
        <ion-content>
            <div class="menu-header">
                <!--material-design-background-->
                <img menuClose class="user-avatar round" [src]="chosenPicture || placeholder"
                    onerror="this.src='assets/img/person.png'" />
                <p menuClose class="name" style="color: #626262;font-weight: bold;font-family: sans-serif;">
                    Hello,{{UserName}}
                </p>
                <!-- <p menuClose class="e-mail">example@email.com</p> -->
            </div>
            <ion-list no-lines>
                <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)"
                    [ngClass]="(p.active)?'active-menu-item-color':''">
                    <!-- <ion-icon [name]="p.icon" item-left></ion-icon> -->
                    <!-- {{p.title}} -->
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>

        <ion-footer>
            <ion-toolbar id="toolbar">
                <button menuClose="left" ion-item (click)="Logout()">
                    <ion-icon name="power" item-left></ion-icon>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                Logout
                            </ion-col>
                            <ion-col text-end style="font-size: 1.2rem;top: 2px;">
                                {{appVersion}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>