<Corvi-header [title]="title" [hidden]="showSearchBar"></Corvi-header>
<ion-searchbar [hidden]="!showSearchBar" placeholder="Search..." showCancelButton color="primary" [animated]="true"
    (ionInput)="filterItems($event)" [(ngModel)]="searchQuery" (ionCancel)="onCancel($event)"></ion-searchbar>
<ion-content class="marginTop57">

    <ion-list [virtualScroll]="openJobs" approxItemHeight="40px">
        <ion-item-sliding *virtualItem="let item">
            <ion-item>
                <ion-avatar item-start (click)="goToOpenJobsDetail(item)">
                    <div class="customised_avatar_Img">
                        {{item.JobDate | moment:"date-MM/DD/YYYY"}}
                    </div>
                    <div style="text-align: center">{{item.JobDate | moment:"month-MM/DD/YYYY"}}</div>
                </ion-avatar>
                <ion-label (click)="goToOpenJobsDetail(item)" style="overflow: initial !important;">
                    <h3>Job No : {{item.JobNo}}</h3>
                    <p>
                        {{item.MasterNo}}/{{item.HouseNo}}</p>
                    <!--Master/House No.-->
                    <p>{{item.Mode}}/{{item.Service}}</p>
                    <!--Ocean/Export-->
                </ion-label>
                <!-- <ion-toggle [(ngModel)]="item.checked" (ionChange)="updateItem(item)"></ion-toggle> -->
                <!-- <ion-label icon-only ion-button (click)="updateItem(item)">
                            <ion-icon name="more"></ion-icon>
                        </ion-label> -->
                <ion-label (click)="followJob(item)" text-end>
                    <ion-icon name="more"></ion-icon>
                </ion-label>
            </ion-item>


            <!-- <ion-item-options side="right">
                        <button ion-button color="primary" (click)="ViewPDFNative(item)">
                            <ion-icon name="information"></ion-icon>
                            Follow this Job
                        </button>
                    </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>
    <br>
    <br>
    <br>
    <div *ngIf="openJobs.length <= 0" style="text-align:center">No open Jobs Found</div>

</ion-content>

<ion-fab right bottom #fab1 *ngIf="openJobs.length > 0" [ngClass]="{'bottom63px': !tabsDisabled}">
    <button class="pop-in" ion-fab mini color="primary" [ngClass]="{'pop-out': fabGone}" (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
    </button>
</ion-fab>