<!--
  Generated template for the NewSalesActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <!-- <button right ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button left ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->
    <ion-title id="Dashboard" center text-center>
      {{title}}
    </ion-title>

    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-row padding class="ShadowBox13">
      <ion-col col-12>
        <label>
          Branch
        </label>
      </ion-col>
      <ion-col col-12>

        <select id="ddlBrach" name="ddlBrach" [(ngModel)]="branchCode" (change)="getSelectedOptionText()" col-12
          placeholder="">
          <option [value]="0" disabled selected>Select</option>
          <option *ngFor="let brData of BranchTbl" [value]="brData.BranchCode">{{brData.branch}}</option>

        </select>

      </ion-col>
      <ion-col col-6>
        <label>
          Communication Mode
        </label>
      </ion-col>
      <ion-col col-6>
        <label>
          Activity
        </label>
      </ion-col>
      <ion-col col-6>

        <select col-12 placeholder="" [(ngModel)]="commMode">
          <option [value]="5" disabled selected>Visit</option>
          <option *ngFor="let acData of filterMode " [value]="acData.KeyValue">{{acData.Description}}</option>
        </select>
      </ion-col>

      <ion-col col-6>
        <select col-12 placeholder="" [(ngModel)]="activityType">
          <option *ngFor="let acData of ActivityTbl" [value]="acData.KeyValue">{{acData.Description}}</option>
        </select>
      </ion-col>
      <ion-col col-6>
        <label>
          Priority
        </label>
      </ion-col>
      <ion-col col-6>
        <label>
          Status
        </label>
      </ion-col>
      <ion-col col-6>

        <select col-12 placeholder="" [(ngModel)]="priority">
          <option *ngFor="let acData of filterActivityPriority" [value]="acData.KeyValue">{{acData.Description}}
          </option>
        </select>
      </ion-col>



      <ion-col col-6>

        <select col-12 placeholder="" [(ngModel)]="status">
          <option [value]="5" disabled selected>Yet to start</option>
          <option *ngFor="let acData of filterActivityStatus" [value]="5">{{acData.Description}}</option>

        </select>
      </ion-col>
    </ion-row>


    <ion-row padding class="ShadowBox13">

      <ion-col col-12>
        <label>
          Company
        </label>
        <font color="red" class="margin12">*</font>
      </ion-col>

      <ion-col col-10>

        <input type="text" [(ngModel)]="filterCustomerData.BranchName" col-12 placeholder="">

      </ion-col>
      <ion-col col-2>
        <button ion-fab class="ion-fab34" (click)="openModal();">
          <ion-icon name="md-search" class=""></ion-icon>
        </button>
      </ion-col>

      <ion-col col-12>
        <label>
          Address
        </label>
      </ion-col>


      <ion-col col-12>

        <textarea col-12 placeholder="" [(ngModel)]="filterCustomerData.Address1">
        </textarea>
      </ion-col>


      <ion-col col-12>
        <label>
          Contact Person
        </label>
      </ion-col>

      <ion-col col-12 style="margin-top: 5px;">

        <input col-12 placeholder="" type="text" [(ngModel)]="filterCustomerData.VendorName">
      </ion-col>
    </ion-row>
    <ion-row padding class="ShadowBox13">
      <ion-col col-6>
        <label style="line-height: 3;">
          Start Time
        </label>
      </ion-col>

      <ion-col col-6 style="margin-top: 5px;">

        <input col-12 type="datetime-local" [(ngModel)]="startDate">
      </ion-col>

      <ion-col col-6>
        <label style="line-height: 3;">
          End Time
        </label>
      </ion-col>

      <ion-col col-6 style="margin-top: 5px;">

        <input col-12 type="datetime-local" [(ngModel)]="endtDate" (ngModelChange)="changed($event)">
      </ion-col>

      <ion-col col-12>
        <!-- <table>
          <tr>

            <td>
              <ion-item>
                <ion-label style="color: #000;">Start Time</ion-label>
                <input type="date" displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="startDate">
              </ion-item>
            </td>

          </tr>
          <tr>

            <td>
              <ion-item>
                <ion-label style="color: #000;">End Time</ion-label>
                <input type="date" displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="endtDate" (ngModelChange)="changed($event)">

              </ion-item>
            </td>

          </tr>
        </table> -->
      </ion-col>
      <ion-col col-12>
        <label>
          General Remarks
        </label>
      </ion-col>
      <ion-col col-12>

        <textarea col-12 placeholder="" [(ngModel)]="bDesc">
        </textarea>
      </ion-col>
      <ion-col col-12>
        <label>
          Notes
        </label>
      </ion-col>
      <ion-col col-12 style="margin-top: 5px;">

        <textarea col-12 placeholder="" [(ngModel)]="notes">
        </textarea>
      </ion-col>

    </ion-row>



  </ion-list>
</ion-content>
<ion-footer class="ion-footer">
  <ion-row padding class="ShadowBox13">
    <ion-col col-6>
      <button ion-button round outline class="btncancel" (click)="backToDashboard();">
        <ion-icon></ion-icon>
        Cancel
      </button>
    </ion-col>

    <ion-col col-6>
      <button ion-button icon-start block class="btnRadius" (click)="SalesActivitySave();">
        <ion-icon></ion-icon>
        Save
      </button>
    </ion-col>
  </ion-row>
  <div class="label-white toolbar-background-md" center text-center>
    © Kale Logistics Solutions Private Limited. {{appBuildConfig.fullYear}} Version {{appBuildConfig.version}}
  </div>
</ion-footer>
