<ion-header no-border>
    <ion-grid class="gridDesign">
        <ion-row>
          <ion-col col-6>
            <div padding-horizontal class="animated fadeInDown">
              <div class="logoLeft">
               <img class="imgLeft" src="../assets/img/Corvi_Logo.png">
              </div>
            </div>
          </ion-col>
  
          <ion-col col-6>
            <div padding-horizontal class="animated fadeInDown">
              <div class="logoRight"></div>
              <img class="imgRight" src="../assets/img/Kale_Logo.png">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  
</ion-header>


<ion-content padding class="animated fadeIn login">
    <div class="login-content">
    
        <!-- Login form -->
        <form class="list-form" #f="ngForm" >
          <div class="contaier-login">
    
            <ion-row>
              <ion-col>
    
                <h3 style="text-align: center;">Reset Password</h3>
    
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label stacked>
                <!-- <ion-icon name="person" item-start class="text-primary"></ion-icon> -->
                Enter Username
              </ion-label>
              <ion-input type="text" [(ngModel)]="username"
              #nameCtrl="ngModel" name="username" required 
              ></ion-input>  
            </ion-item>
            <div class="errorbox" style="color:tomato" *ngIf="!nameCtrl.valid && nameCtrl.touched">required</div>
    
            <ion-item>
              <ion-label stacked>
                <!-- <ion-icon name="lock" item-start class="text-primary"></ion-icon> -->
                Temporary Password
              </ion-label>
              <ion-input type="{{type}}" [(ngModel)]="temppassword"
          #temppasswordCtrl="ngModel" name="temppassword" required
          ></ion-input>
          <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"><ion-icon name="ios-eye-off-outline"></ion-icon></button>
          <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"><ion-icon name="ios-eye-outline"></ion-icon></button>
            </ion-item>
            <div class="errorbox" style="color:tomato" *ngIf="!temppasswordCtrl.valid && temppasswordCtrl.touched">required</div>
    
            <ion-item>
                <ion-label stacked>
                  <!-- <ion-icon name="person" item-start class="text-primary"></ion-icon> -->
                  New Password
                </ion-label>
                <ion-input type="text" [(ngModel)]="password"
                #passwordCtrl="ngModel" name="password" required></ion-input>
              </ion-item>
              <div class="errorbox" style="color:tomato" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">required</div>

              <ion-item>
                  <ion-label stacked>
                    <!-- <ion-icon name="person" item-start class="text-primary"></ion-icon> -->
                    Re-Type New Password
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="confpassword"
                  #confpasswordCtrl="ngModel" name="confpassword" required></ion-input>
                </ion-item>
                <div class="errorbox" style="color:tomato" *ngIf="!confpasswordCtrl.valid && confpasswordCtrl.touched">required</div>
      
            <div>
              <ion-row>
                <ion-col col-6 class="my-width" large>
                <button class="button button-dark customBtn" ion-button color="light" (click)="toLogin()">
                     CANCEL
                  </button>
                </ion-col>
                <!-- <ion-col col-4></ion-col> -->
                <ion-col col-6 class="my-width" large>
                  <button class="button button-dark customBtn" ion-button color="primary" [disabled]="!f.valid">
                       SAVE
                    </button>
                  </ion-col>
                  </ion-row>
            </div>
    
          </div>
        </form>
    
    
      </div>
      <div class="addOns">
          <div class="addOnsText">
            <h4>Additional Services</h4>
          </div>
      
          <ion-grid>
            <ion-row>
              <ion-col>
                  <div class="container">
                      <img src="../assets/img/moreservices.png">
                      <h6>More Services</h6>
                    </div>
              </ion-col>
              <ion-col>
                  <div class="container">
                      <img src="../assets/img/contactus.png">
                      <h6>Contact Us</h6>
                    </div>
              </ion-col>
              <ion-col>
                  <div class="container">
                      <img src="../assets/img/monitor_support.png">
                      <h6>24 x 7 Support</h6>
                    </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    </ion-content>
    <ion-footer>
        <div class = "bar bar-footer">
            <ion-row>
              <ion-col col-6>
            <h6 style="text-align: center;" class = "title">Terms and conditions</h6>
          </ion-col>
    
          <ion-col col-6>
              <h6 style="text-align: center;" class = "title">Privacy Policy</h6>
            </ion-col>
          </ion-row>
         </div>
    </ion-footer>
