<ion-header>

  <ion-navbar color="primary">
    <ion-title style="margin-left: 17%">
      {{title}}
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuToggle style="color: #1069ad;">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row padding class="ShadowBox13">
    <ion-col col-12>
      <b>Job Type</b>
    </ion-col>
    <ion-col col-6>
      <input [(ngModel)]="VenType" type="radio" class="stv-radio-button" name="jobType" value="1" id="1" />
      <label for="1">Freight Forwarding</label>
    </ion-col>
    <ion-col col-6>
      <input [(ngModel)]="VenType" type="radio" class="stv-radio-button" name="jobType" value="2" id="2" />
      <label for="2">Customs</label>
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Branch</b>
      </label>
    </ion-col>

    <ion-col col-12>
      <select id="ddlBrach" name="ddlBrach" [(ngModel)]="branchCode" col-12 placeholder="">
        <!-- <option [value]="0" disabled selected>Select</option> -->
        <option *ngFor="let brData of BranchTbl" [value]="brData.BranchCode">{{brData.branch}}</option>
      </select>
      <div class="errorbox" style="color:tomato" *ngIf="transportMode == '0'">*required</div>
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Mode (By Air/Ocean/Road/Rail)</b>
      </label>
    </ion-col>

    <ion-col col-12>
      <select id="ddlMode" name="ddlMode" [(ngModel)]="transportMode" col-12 placeholder=""
        (change)='onModeChange($event)'>
        <!-- <option [value]=""  selected>Select</option> -->
        <option *ngFor="let modeData of modes" [value]="modeData.KeyValue">{{modeData.Description}}</option>
      </select>
      <div class="errorbox" style="color:tomato" *ngIf="transportMode == '0'">*required</div>
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Service(Import/Export/Domestic)</b>
      </label>
    </ion-col>

    <ion-col col-12>
      <select id="ddlService" name="ddlService" [(ngModel)]="serviceCode" col-12 placeholder="">
        <!-- <option [value]=""  selected>Select</option> -->
        <option *ngFor="let serviceData of services" [value]="serviceData.KeyValue">{{serviceData.Description}}</option>
      </select>
      <div class="errorbox" style="color:tomato" *ngIf="serviceCode == '0'">*required</div>
    </ion-col>


    <ion-col col-12>
      <label>
        <b>Job No.</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="jobNumber" [(ngModel)]="jobNumber">
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Invoice No.</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="invoiceNumber" [(ngModel)]="invoiceNumber">
    </ion-col>


    <ion-col col-12>
      <label>
        <b>{{mawbLBL}}</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="mawbNumber" [(ngModel)]="mawbNumber">
    </ion-col>

    <ion-col col-12>
      <label>
        <b>{{hawbLBL}}</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="hawbNumber" [(ngModel)]="hawbNumber">
    </ion-col>

    <ion-col col-12>
      <label>
        <b>{{beSbLBL}}</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="text" name="BeNo" [(ngModel)]="BeNo">
    </ion-col>

    <ion-col col-12>
      <label>
        <b>{{sbDateBeDateLBL}}</b>
      </label>
    </ion-col>
    <ion-col col-12>
      <input col-12 type="date" name="BeDate" [(ngModel)]="BeDate">
    </ion-col>

    <ion-col col-12>
      <label>
        <b>Origin</b>
      </label>
    </ion-col>


    <ion-col col-10>

      <input maxlength="50" disabled name="origin" type="text" [(ngModel)]="origin" col-12 placeholder="">

    </ion-col>
    <ion-col col-2>
      <button ion-fab class="ion-fab34" (click)="openOriginModal();">
        <ion-icon name="md-search" class=""></ion-icon>
      </button>
    </ion-col>
    <!-- <ion-col col-9>
      <input col-9 type="text" name="origin" [(ngModel)]="origin">
    </ion-col>
    <ion-col col-3 (click)="openOriginModal()">
        <ion-icon class="icon ion-ios-search"></ion-icon>
        <span class="text">Search</span>
    </ion-col> -->


    <ion-col col-12>
      <label>
        <b>Destination</b>
      </label>
    </ion-col>
    <!-- <ion-col col-9>
      <input col-9 type="text" name="destination" [(ngModel)]="destination">
    </ion-col>
    <ion-col col-3 (click)="openDestinationModal()">
        <ion-icon class="icon ion-ios-search"></ion-icon>
        <span class="text">Search</span>
    </ion-col> -->

    <ion-col col-10>

      <input maxlength="50" disabled name="destination" type="text" [(ngModel)]="destination" col-12 placeholder="">

    </ion-col>
    <ion-col col-2>
      <button ion-fab class="ion-fab34" (click)="openDestinationModal();">
        <ion-icon name="md-search" class=""></ion-icon>
      </button>
    </ion-col>

  </ion-row>


</ion-content>
<ion-footer class="ion-footer">
  <ion-row padding class="">
    <ion-col col-6>
      <button ion-button block class="btnRadius btncancel" (click)="goBack();">
        <ion-icon></ion-icon>
        Cancel
      </button>
    </ion-col>

    <ion-col col-6>
      <button ion-button icon-start block class="btnRadius" (click)="searchInvoices();">
        <ion-icon></ion-icon>
        Search
      </button>
    </ion-col>
  </ion-row>
  <div class="label-white toolbar-background-md" center text-center>
    © Kale Logistics Solutions Private Limited. {{appBuildConfig.fullYear}} Version {{appBuildConfig.version}}
  </div>
</ion-footer>
